* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  position: relative;
}

.splash{
  background: black;
  position: fixed;
  inset: 0;
  z-index: 200;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: 900;
  line-height: 90vh;
  text-align: center;
  overflow: hidden;
}

.splash:before{
content: '';
position: absolute;
left: 120%;
width: 120%;
height: 100%;
background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
animation: animate 10s linear forwards;
}
.splash.display-none{
  background: black;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  line-height: 90vh;
  transition: all 1s ease-in-out 1s;
}

@keyframes animate
{
  0%
  {
    left: -20%;
  }
  50%
  {
    left: 120%;
  } 
  100%
  {
    left: -20%;
  }
}

.getStarted{
  position: absolute;
  inset: 0;
  background: transparent;
  width: 100%;
  height: 100vh;
  z-index: 30;
}
.slides {
  max-width: 100%;
  height: 60vh;
  margin: 10vh auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50vh;
  margin: auto auto;
  display: grid;
  direction: row;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-content: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform ease-in-out 1.3s;
}

.getStarted--img{
  margin-top: 5rem;
  grid-row: 1/2;
  height: 45vh;
  width: 50%;
}

.getStarted--caption{
  font-family: 'Hind Siliguri', sans-serif;
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: 900;
  grid-row: 2/3;
}

button{
  cursor: pointer;
  backface-visibility: hidden;
}

button:focus{
  outline: none;
  backface-visibility: hidden;
}

.btn-slide{
  position: absolute;
  top: 50%;
  width:3rem;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 800;
  color: black;
  background: rgba(148, 139, 139, 0.4);
  border: none;
  border-radius: 50%;
  padding: 2px 2px;
  cursor: pointer;
}
.btn-slide.right{
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 2rem;
  color: black;
  border: none;
  padding: 2px 2px;
  border-radius: 50%;
  cursor: pointer;
}
.btn-slide.left{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2rem;
  color: black;
  border: none;
  padding: 2px 2px;
  border-radius: 50%;
  cursor: pointer;
}

.dots__dot{
  background: none;
  border: none;
  color: black;
  font-size: 2rem;
  font-weight: 900;
}

.dots__dot--active{
  color: rgb(143, 138, 138);
}

.head-start{
  font-family: 'Hind Siliguri', sans-serif;
  padding: 0px 20px;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(48, 46, 46);
  text-shadow: 1px 1px 2px rgba(122, 122, 126, 0.774);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  border: double 2px rgb(129, 163, 207);
  box-shadow: 2px 2px 3px black;
}

.head-start-dev{
  display: flex;
  justify-content: center;
}


.help{
  position: absolute;
  inset: 0;
  z-index: 30;
  background: transparent;
  height: 100vh;
}
.slides-help{
  max-width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* IN THE END */
  overflow: hidden;
}
.slide-help {
  position: absolute;
  top: 0;
  height: 80vh;
  /* THIS creates the animation! */
  transition: transform ease-in-out 1.3s;
}

.help--vid{
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.help-start-dev{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.help-start{
  font-family: 'Hind Siliguri', sans-serif;
  padding: 0px 20px;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(48, 46, 46);
  text-shadow: 1px 1px 2px rgba(122, 122, 126, 0.774);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  border: double 2px rgb(129, 163, 207);
  box-shadow: 2px 2px 3px black;
}

.hide-help{
  display: none;
}
main{
  position: absolute;
  inset: 4;
  margin-top: 7rem;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.back{
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
  z-index: 20;
}
.back-hide{
  display: none;
}
.task-head{
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 500;
  padding: 2rem 2rem;
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: 900;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.theme{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: double 1px rgb(107, 102, 102);
  box-shadow: 2px 2px 3px black;
}

.menu{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: double 1px rgb(107, 102, 102);
  box-shadow: 2px 2px 3px black;
}

.task-foot{
  width:100%;
  height: 1rem;
  text-align: center;
  justify-content: flex-end;
  align-self: center;
  padding: 2rem 2rem;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: 900;
  position: absolute;
  bottom: 0;
}

.display-content{
  display: none;
}

.task{
  width: 70%;
  height: 5rem;
  padding: 1rem;
  color:rgb(51, 50, 50);
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  border: double 1px rgb(107, 102, 102);
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
  z-index: 100;
}


.task-img{
  height: 3rem;
  margin-right: 2px;
}

.task-add{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1px);
  border: double 1px rgb(175, 170, 170);
  box-shadow: 2px 2px 3px rgb(112, 111, 111);
  color:rgb(179, 175, 175);
}

.menuBar{
  position: absolute;
  inset: 0;
  margin-top: 10rem;
  transform: translate(25%, 200%);
  z-index: 200;
}

.menuItem{
  width: 50%;
  height: 8rem;
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  font-weight: 900;
  background: rgba(0,0,0,0.5);
  color: white;
  border: solid 2px black;
}

.menuList{
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 2rem 2rem;
  text-align: center;
}
.menuHelp{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2rem 2rem;
  text-align: center;
}

.overlay{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 180;
}
.hidden{
  display:none;
}

.tasks{
  width: 96%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color:rgb(51, 50, 50);
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  border: double 1px rgb(107, 102, 102);
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
  z-index: 100;
}

.tasks-add{
  width: 96%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color:rgb(51, 50, 50);
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1px);
  border: double 1px rgb(175, 170, 170);
  box-shadow: 2px 2px 3px rgb(112, 111, 111);
  color:rgb(179, 175, 175);
  border-radius: 0.5rem;
  cursor: pointer;
}


.cir{
  width: 5%;
  margin: 0;
}

.context{
  width: 70%;
  height: 5rem;
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: bold;
  background: transparent;
  border: none;
  color:rgb(179, 175, 175);
  margin: 0;
}

.due{
  width: 20%;
  height: 5rem;
  align-self: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: auto;
  color:rgb(179, 175, 175);
  margin: 0;
}

.cir-check{
  width: 5%;
  margin: 2%;
}
.circle{
  height: 2rem;
  width: 2rem;
  border: solid 1px black;
  background: transparent;
  border-radius: 50%;
}

.context-after{
  width: 70%;
  height: 100%;
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  background: transparent;
  border: none;
  margin: 0;
  margin-left: 1rem;
}

#done{
  height: 2rem;
}

.due-after{
  width: 20%;
  height: 100%;
  align-self: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: auto;
  color:rgb(179, 175, 175);
  margin: 0;
}

.del-after{
  width: 10%;
  align-self: center;
}
.del{
  height: 3rem;
  margin-right: 1rem;
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -1.6em;
  left: 80%;
  font-family: 'Hind Siliguri', sans-serif;
  padding: 4px 4px 4px 8px;
  color: white;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: black;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}

.hide{
  display: none;
}

stop{
  transition: stop-color linear 1s;
}
